<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="login">
    <ion-item lines="full">
      <ion-input placeholder="email" type="text" name="email" formControlName="email" require></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input placeholder="Mot de passe" type="password" name="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button  (click)="submit()" color="danger">Se connecter</ion-button>
      </ion-col>
    </ion-row>
  </form>
  
  <ion-button type="button" [routerLink]="['/forgot-password']" class="small-text" color="light">Mot de passe oublié ?</ion-button>
</ion-content>
